@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	font-size: 15pt;
}

header {
	margin: 0 15%;
	height: 100px;
}

section {
	margin: 1%;
	margin-top: 2%;
	margin-left: 17%;
	margin-right: 17%;
	min-height: 700px;
}

footer {
	background-color: gray;
	margin-left: 15%;
	margin-right: 15%;
	padding: 20px;
}