<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="mybatis/mybatis.properties" />
  <typeAliases>
  	<typeAlias type="kr.ac.kopo.build.vo.BuildVO" alias="BuildVO"/>
  	<typeAlias type="kr.ac.kopo.member.vo.MemberVO" alias="MemberVO"/>
  	<typeAlias type="kr.ac.kopo.reply.vo.ReplyVO" alias="ReplyVO"/>
  	<typeAlias type="kr.ac.kopo.potential.vo.PotentialVO" alias="PotentialVO"/>
  	<typeAlias type="kr.ac.kopo.character.vo.CharacterVO" alias="CharacterVO"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis/mapper/build.xml"/>
    <mapper resource="mybatis/mapper/member.xml"/>
    <mapper resource="mybatis/mapper/reply.xml"/>
    <mapper resource="mybatis/mapper/recommend.xml"/>
    <mapper resource="mybatis/mapper/potential.xml"/>
    <mapper resource="mybatis/mapper/character.xml"/>
  </mappers>
</configuration>